.about-us {
  @extend %clearfix;
  text-align: center;
  line-height: 2;
  &-second {
    min-height: 100vh;
    background-image: url("assets/img/landscape2.jpg");
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__text {
      padding: 16px;
      background: white;
      h2 {
        color: $brown;
      }
    }
  }
}