$font-size: 16px; // variable for @rem function (see _misc.scss);
$transition: 200ms;
$brown: #f18e76;
$lightbrown: #f8c2b4;
$darkbrown: #645c5a;
$blue: #e0eef0;
$darkblue: #83b3bb;
// Basic stylesheets
@import "./_misc.scss";
@import "./fonts.scss";
@import "./icons"; // necessary for svg sprites
@import "./tags.scss";
@import "./style.scss";

// Page parts
@import "./parts/header.scss";
@import "./parts/about-us.scss";
@import "./parts/gallery.scss";