.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icon {
  display: inline-block;
  height: 1em;
  width: 1em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  vertical-align: top;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.main-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  text-align: justify;
}

.content {
  flex-grow: 1;
}

.section {
  position: relative;
  padding: 64px 0;
  &:before {
    content: '';
    position: absolute;
    display: block;
    border: 64px solid transparent;
    border-left-color: $brown;
    border-top-color: $brown;
    left: 0;
    top: 0;
  }
  &:after {
    content: '';
    position: absolute;
    display: block;
    border: 64px solid transparent;
    border-right-color: $darkblue;
    border-bottom-color: $darkblue;
    right: 0;
    bottom: 0;
  }
  &:nth-child(even) {
    &:before {
      border-left-color: transparent;
      border-right-color: $brown;
      left: auto;
      right: 0;
    }
    &:after {
      border-left-color: $darkblue;
      border-right-color: transparent;
      right: auto;
      left: 0;
    }
  }
}

.up-btn {
  font-size: rem(36px);
  position: fixed;
  bottom: -64px;
  right: 36px;
  z-index: 20;
  background: rgba(black, .3);
  padding: 8px;
  display: block;
  line-height: 1;
  &_visible {
    bottom: 36px;
  }
}

@media (max-width: 1240px) {
  .container {
    width: 100%;
    padding: 0 32px;
  }
  .section {
    &:before,
    &:after {
      border-width: 32px;
    }
  }
}

@media (max-width: 640px) {
  .container {
    padding: 0 16px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 8px;
  }
  .section {
    &:before,
    &:after {
      border-width: 16px;
    }
  }
}