*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.42;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    transition: $transition;
}
