*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Raleway';
}

body {
    line-height: 1.42;
    color: $darkbrown;
}

a {
    transition: $transition;
    color: $brown;
    text-decoration: none;
    &:hover {
        color: $darkblue;
    }
}

hr {
    border: none;
    border-top: 1px dotted $darkblue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    color: $darkbrown;
    position: relative;
    &:before,
    &:after {
        display: inline-block;
        content: '';
        height: .08em;
        background: $brown;
        width: .8em;
        vertical-align: middle;
        margin: 0 16px;
        border-radius: 16px 0 16px 0;
        border-bottom: .04em solid $lightbrown;
    }
}

h1 {
    font-size: rem(72px);
    margin: 0 0 32px;
}

h2 {
    font-size: rem(48px);
    margin: 0 0 32px;
}

h3 {
    font-size: rem(32px);
    margin: 0 0 16px;
}

h4 {
    font-size: rem(16px);
    margin: 0 0 8px;
}

h5 {
    font-size: rem(12px);
    margin: 0 0 8px;
}

h6 {
    font-size: rem(8px);
    margin: 0 0 8px;
}

p {
    margin: 0 0 16px;
}

table {
    width: 100%;
    border: 1px solid $greybrown;
    border-collapse: collapse;
}

td,
th {
    padding: 8px 16px;
    border: 1px solid $greybrown;
}

button {
    transition: $transition;
}