extends ../templates/page.pug
block variables
    - var title = "Lorem ipsum dolor sit amet";
block page
    a(href="#").up-btn â®
    include ../parts/header.pug
    include ../parts/about-us.pug
    include ../parts/gallery.pug
    include ../parts/testimonials.pug
    include ../parts/prices.pug
    include ../parts/contacts.pug
    include ../parts/footer.pug