section.section#about-us
  .container.about-us
    h1 About us
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate ipsum dolorum ipsa rerum error omnis consequatur molestiae enim nulla, saepe laudantium dolores iste vel fuga sint cum. Voluptatem, beatae in? Quibusdam et est ullam beatae necessitatibus? Iste nam earum inventore architecto beatae laudantium maiores veniam, placeat laboriosam cupiditate officia ipsum voluptatum blanditiis?
    p Nam alias at deleniti veritatis, saepe quae dolorem assumenda. Consequatur quam laborum tempore magni fugit odio neque quisquam maiores. Commodi, provident? Odio!
section.section.about-us.about-us-second
  .container
    .about-us-second__text
      h2 Lorem ipsum dolor sit amet
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam, beatae molestiae natus facilis temporibus minus, odio aspernatur harum maxime eveniet maiores vitae at quis veritatis ipsa esse tempora accusantium expedita?