footer.footer
  .container
    ul.footer__wrap
      li.footer__block
        h3 Lorem Ipsum
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis perferendis, dolores ratione, quidem reprehenderit voluptatum laudantium, eveniet voluptates eius deserunt voluptatem veniam! Accusantium, ullam recusandae expedita aperiam facere ut iure.
      li.footer__block
        h3 Contacts
        ul.footer__contacts
          li.footer__contact Phone: 
            a(href="tel:3805555555") +380 555 55 55
          li.footer__contact Address: 
            a(href=" http://maps.google.com/?q=LoremIpsum" target="_blank") Lorem, Ipsum str. 24
          li.footer__contact  Email: 
            a(href="mailto:lorem@ispum.com") lorem@ipsum.com
      li.footer__block
        h3 Links
        ul.footer__contacts
          li.footer__contact
            a(href="#" target="_blank") Facebook
          li.footer__contact
            a(href="#" target="_blank") GitHub
          li.footer__contact
            a(href="#" target="_blank") LinkedIn
    .footer__author
        p Designed and developed by 
          a(href="https://github.com/ArtemGrachov/") Artem Grachov