section.section#gallery
  +heading('h1')
    | Gallery
  ul.gallery-list
    +gallery-item('Australia map', '/assets/img/australia-map.jpg')
    +gallery-item('India', '/assets/img/india.jpg')
    +gallery-item('Bar', '/assets/img/bar.jpg')
    +gallery-item('City', '/assets/img/city.jpg')
  .gallery-arrows
    button.gallery-arrows__btn.gallery-arrows__btn_left
    button.gallery-arrows__btn.gallery-arrows__btn_right