header.header.section#top
  .header-top
    .header-logo Lorem Ipsum
    nav.header-nav
      a(href="#").header-nav__toggle
        i.fas.fa-bars
      ul.header-nav__list
        li.header-nav__item
          a.header-nav__link(href="#about-us") About us
        li.header-nav__item
          a.header-nav__link(href="#gallery") Gallery
        li.header-nav__item
          a.header-nav__link(href="#testimonials") Testimonials
        li.header-nav__item
          a.header-nav__link(href="#prices") Prices
        li.header-nav__item
          a.header-nav__link(href="#contacts") Contacts
  .header-title
    +heading('h1', 'header-title__main')
      | Lorem Ipsum
    +heading('h2', 'header-title__subtitle')
      | Lorem ipsum dolor sit amet