header.header.section
  .header-top
    .header-logo Lorem Ipsum
    nav.header-nav
      ul.header-nav-list
        li
          a(href="#about-us") About us
        li
          a(href="#about-us") Gallery
        li
          a(href="#about-us") Testimonials
        li
          a(href="#about-us") Prices
        li
          a(href="#about-us") Contacts
  .header-title
    h1.header-title__main Lorem Ipsum
    h2.header-title__subtitle Lorem ipsum dolor sit amet