section.section#testimonials
  .container
    +heading('h1')
      | Testimonials
    .testimonials__wrap
      button.testimonials__slider-toggle.testimonials__slider-toggle_left
      ul.testimonials-list
        +testimonials-item('John Doe', 'Lorem ipsum inc.', 'assets/img/portrait1.jpg')
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia libero neque corrupti id blanditiis. Ipsum molestias, pariatur exercitationem placeat omnis earum facere excepturi quasi amet sunt expedita alias. Accusamus, ipsam.
        +testimonials-item('Jane Doe', 'Lorem ipsum inc.', 'assets/img/portrait3.jpg')
          | Quae enim, voluptatem est qui, doloremque harum quos tempora nisi, non similique tenetur adipisci itaque fugiat! Delectus consequuntur voluptate provident nulla hic?
        +testimonials-item('John Doe', 'Lorem ipsum inc.', 'assets/img/portrait2.jpg')
          | Voluptatum, culpa quam dignissimos similique reiciendis aliquam molestias ducimus earum aut sapiente nihil impedit, laborum dolorem aliquid, amet molestiae corporis ipsa! Veniam!
        +testimonials-item('Jane Doe', 'Lorem ipsum inc.', 'assets/img/portrait4.jpg')
          | Officia quos earum velit? Quae in error illum necessitatibus nobis quos tempore enim nemo reiciendis? Rerum repudiandae sunt doloremque nisi tempore neque.
      button.testimonials__slider-toggle.testimonials__slider-toggle_right